.arena-input {
  background: url('assets/arena_input_background.png') no-repeat;
  border: none;
  color: rgb(218, 228, 240);
  width: 120px;
  height: 18px;
  line-height: 18px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  outline: none;
}