version: '3.4'

services:
  db:
    image: "mysql:5.5"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_CLIENT_PASSWORD: ${MYSQL_CLIENT_PASSWORD}
      MYSQL_READER_PASSWORD: ${MYSQL_READER_PASSWORD}
    volumes:
      - ./database:/database
      - ../lords-mysql-data:/var/lib/mysql # persist db
    networks:
      - lords-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  ws:
    image: 127.0.0.1:5000/ws
    build:
      context: ws
      dockerfile: Dockerfile
    command: bash -c "mix deps.get && mix phx.server"
    ports:
      - "4000:4000"
    environment:
      MIX_ENV: dev
      PORT: 4000
    volumes:
      - ./ws:/app
    networks:
      - lords-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  web:
    image: 127.0.0.1:5000/web
    build: .
    ports:
      - "80:80"
    environment:
      LORDS_DOMAIN: ${LORDS_DOMAIN}
      REVISION: ${REVISION}
      MYSQL_CLIENT_PASSWORD: ${MYSQL_CLIENT_PASSWORD}
      MYSQL_READER_PASSWORD: ${MYSQL_READER_PASSWORD}
    volumes:
      - ./web:/var/www/html
      - ./log:/var/log/apache2
    networks:
      - lords-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  ai:
    image: "java:7"
    ports:
      - "5600" # not shared to host
    volumes:
      - ./deployment:/deployment
      - ./ai:/ai
    command: bash -c "cd /deployment ; chmod 755 ./deploy_ai.sh ; ./deploy_ai.sh"
    networks:
      - lords-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

volumes:
  mysql-data:

networks:
  lords-network:
    driver: overlay
    attachable: true
