@media only screen and (max-width: 716px) {
    html, body {
		max-width: 100vw;
		height: 100vh;
		overflow: hidden !important;
		position: fixed;
	}
	
	#cards_container {
		max-width: 100vw;
		left: 0 !important;
	}
	#cards_container .concards {
		max-width: 100vw;
	}
	#cards, #graveyard {
		max-width: calc(100vw - 8px);
	}
	#cards_container a.allcardsclose {
		margin-left: 265px !important;
	}
	.board {
		max-width: 100vw;
	}
	#wrap {
		max-width: 100vw;
		margin-left: 0px !important;
	}
	#cards_holder, #grave_holder {
		max-width: calc(100vw - 48px);
	}
	#footer {
		display: none;
	}
	#container {
		overflow-y: scroll;
		overflow-x: hidden;
		position: fixed;
		height: calc(100vh - 25px);
	}
	#menulist {
		top: -15px;
		left: 450px;
	}
	.windowcont .window {
		top: 0px !important;
		left: 0px !important;
	}
	#rightbar, #leftbar {
		left: 10px !important;
		top: 27px !important;
		width: 100vw !important;
		display: none;
	}
	.chat .chat_cont {
		height: 50vh;
	}
	.log .log_cont, #game_log {
		height: 67vh !important;
	}
	#controls {
		display: block;
	}
}