html, body {text-align:left;
              margin:0px;
              width:100%;
              float:left;
              }
    body {background:  url(../images/origbg.jpg) top left repeat;
          }
  a, a:focus {outline:none;
              text-decoration:none;}
  ul {list-style:none;}
 #topbg {background:  url(../images/origtopbg.jpg)  repeat-x;
         height:20px;
         width:100%;}
 #wrap{width:750px;
       margin-left:auto;
       margin-right:auto;
       }
 #container {
             float:left;
             width:750px;
             margin-top:5px;
             }
 
 #maintop {width:750px;
           height:137px;
           background:  url(../images/gamtopbg.png)  no-repeat;
           float:left;
          }
 #maintop .header {width:292px;
                   height:34px;
                   background:  url(../images/selgam.png) right bottom  no-repeat;
                   float:left;
                   padding:70px 0px 0px 230px;
                   }
 #maintop #name {width:163px;
                   height:27px;
                   float:left;
                   padding:6px 0px 0px 570px;
                   margin-right:17px;
                   font-family:Times New Roman;
                   font-style:italic;
                   font-weight:bold;
                   overflow:hidden;
                   font-size:16px;
                   }                 
 #main {width:750px;
           background:  url(../images/gamrepbg.jpg) repeat-y;
           float:left;
          }
 #main .concont {width:726px;
                 height:218px;
                 padding-left:24px;
                 background:  url(../images/gambotbg.jpg) bottom left no-repeat;
                 float:left;
                 }
 #main .concont .selhd {
                        float:left;
                                            padding:0px 0px 10px 0px;
                                            font-family:Times New Roman;
                                            font-style:italic;
                                            font-size:13px;
                        }
 #main .concont .selhd .sort {
                              height:17px;
                              margin-right:3px;
                              background:  url(../images/sort.jpg) right top  no-repeat;
                              float:left;
                              overflow:hidden;
                              }
 #main .concont .selhd .sort:hover {background:  url(../images/sort.jpg) right bottom  no-repeat;
                                    _background:  url(../images/sort.jpg) right -17px  no-repeat;}
 #main .concont .cont {width:686px;
                       height:127px;
                       float:left;
                       margin-right:40px;
                       padding:3px 0px 0px 0px;
                       }
  #main .concont .cont #team1 { width:709px;
                                float:left;
                                background:  url(../images/team1_headline.png) top left  no-repeat;
                                padding:20px 0px 0px 0px;
                               }
  #main .concont .cont #team1 .toptab {background:  url(../images/toptab.jpg) top left  no-repeat;
                                       width:142px;
                                       height:2px;
                                       }
  #main .concont .cont #team1 .reptab {background:  url(../images/reptab.jpg) top left  repeat-y;
                                       width:142px;
                                       font-family:Times New Roman;
                                       font-style:italic;
                                       font-size:12px;
                                       
                                       }
   #main .concont .cont #team1 .reptab .chd {
                              height:17px;
                              width:17px;
                              background:  url(../images/sort.jpg) right top  no-repeat;
                              float:left;
                              overflow:hidden;
                              }
 #main .concont .cont #team1 .reptab .chd:hover {background:  url(../images/sort.jpg) right bottom  no-repeat;
                                    _background:  url(../images/sort.jpg) right -17px  no-repeat;}
 #main .concont .cont #team1 .reptab .del {
                              height:17px;
                              width:17px;
                              background:  url(../images/del.jpg) right top  no-repeat;
                              float:left;
                              overflow:hidden;
                              }
 #main .concont .cont #team1 .reptab .del:hover {background:  url(../images/del.jpg) right bottom  no-repeat;
                                    _background:  url(../images/del.jpg) right -17px  no-repeat;}
  #main .concont .cont #team1 .septab {background:  url(../images/septab.jpg) top left  no-repeat;
                                       width:142px;
                                       height:1px;
                                       }
  #main .concont .cont #team1 .bottab {background:  url(../images/bottab.jpg) top left  no-repeat;
                                       width:142px;
                                       height:2px;
                                       }
 #main .concont .cont #team2 { width:709px;
                                float:left;
                                background:  url(../images/team2_headline.png) top left  no-repeat;
                                padding:20px 0px 0px 0px;
                               }
  #main .concont .cont #team2 .toptab {background:  url(../images/toptab.jpg) top left  no-repeat;
                                       width:142px;
                                       height:2px;
                                       }
  #main .concont .cont #team2 .reptab {background:  url(../images/reptab.jpg) top left  repeat-y;
                                       width:142px;
                                       font-family:Times New Roman;
                                       font-style:italic;
                                       font-size:12px;
                                       
                                       }
 #main .concont .cont #team2 .reptab .del {
                              height:17px;
                              width:17px;
                              background:  url(../images/del.jpg) right top  no-repeat;
                              float:left;
                              overflow:hidden;
                              }
 #main .concont .cont #team2 .reptab .del:hover {background:  url(../images/del.jpg) right bottom  no-repeat;
                                    _background:  url(../images/del.jpg) right -17px  no-repeat;}
 #main .concont .cont #team2 .reptab .chup {
                              height:17px;
                              width:17px;
                              background:  url(../images/chup.jpg) right top  no-repeat;
                              float:left;
                              overflow:hidden;
                              }
 #main .concont .cont #team2 .reptab .chup:hover {background:  url(../images/chup.jpg) right bottom  no-repeat;
                                    _background:  url(../images/chup.jpg) right -17px  no-repeat;}
  #main .concont .cont #team2 .septab {background:  url(../images/septab.jpg) top left  no-repeat;
                                       width:142px;
                                       height:1px;
                                       }
  #main .concont .cont #team2 .bottab {background:  url(../images/bottab.jpg) top left  no-repeat;
                                       width:142px;
                                       height:2px;
                                       }
 #main .concont .bggm {width:179px;
                      background:  url(../images/bggm.jpg) left top  no-repeat;
                                            height:20px;
                                            float:left;
                                            margin:5px 10px 0px 0px;
                        }
 #main .concont .bggm:hover {background:  url(../images/bggm.jpg) left bottom  no-repeat;}
 #main .concont .refr {width:164px;
                      background:  url(../images/refr.jpg) left top  no-repeat;
                                            height:20px;
                                            float:left;
                                            margin:5px 275px 0px 0px;
                        }
 #main .concont .refr:hover {background:  url(../images/refr.jpg) left bottom  no-repeat;}
 #main .concont .ext {width:83px;
                      background:  url(../images/logout.jpg) left top  no-repeat;
                                            height:16px;
                                            float:left;
                                            margin:9px 0px 0px 0px;
                                            overflow:hidden;
                        }
 #main .concont .ext:hover {background:  url(../images/logout.jpg) left bottom  no-repeat;
                            background:  url(../images/logout.jpg) left -16px  no-repeat;}
 #chat   {width:750px;
           height:232px;
           background:  url(../images/chatbg.jpg)  no-repeat;
           float:left;
           margin-top:20px;
          }
 #chat #game_chat  {width:733px;
           height:174px;
           float:left;
           margin:17px 0px 0px 0px;
           overflow-y: scroll;
           overflow-x: hidden;
          }
 #chat #chat_text  {width:537px;
           height:19px;
           float:left;
           margin:5px 3px 0px 0px;
           border:none;
           padding-left:16px;
           background:none;
          }
 #chat .send {width:179px;
                      background:  url(../images/send.jpg) left top  no-repeat;
                                            height:23px;
                                            float:left;
                                            margin:3px 0px 0px 0px;
                        }
 #chat .send:hover {background:  url(../images/send.jpg) left bottom  no-repeat;}
 #footer {width:750px;
          float:left;
          text-align:right;
          color:white;
          font-weight:bold;
          padding-bottom:10px;
          }
