html, body {text-align:left;
              margin:0px;
              width:100%;
              float:left;
              }
    body {background:  url(../images/origbg.jpg) top left repeat;
          }
  a, a:focus {outline:none;
              text-decoration:none;}
  ul {list-style:none;}
 #topbg {background:  url(../images/origtopbg.jpg)  repeat-x;
         height:20px;
         width:100%;}
 #wrap{width:750px;
       margin-left:auto;
       margin-right:auto;
       }
 #container {
             float:left;
             width:750px;
             margin-top:5px;
             }
 
 #maintop {width:750px;
           height:137px;
           background:  url(../images/gamtopbg.png)  no-repeat;
           float:left;
          }
 #maintop .header {width:292px;
                   height:34px;
                   background:  url(../images/selgam.png) right bottom  no-repeat;
                   float:left;
                   padding:70px 0px 0px 230px;
                   }
 #maintop #name {width:118px;
                   height:27px;
                   float:left;
                   padding:6px 0px 0px 615px;
                   margin-right:17px;
                   font-family:Times New Roman;
                   font-style:italic;
                   font-weight:bold;
                   overflow:hidden;
                   font-size:16px;
                   }                 
 #main {width:750px;
           background:  url(../images/gamrepbg.jpg) repeat-y;
           float:left;
          }
 #main .concont {width:726px;
                 height:350px;
                 padding-left:24px;
                 background:  url(../images/gambotbg.jpg) bottom left no-repeat;
                 float:left;
                 }
 #main .concont .selhd {width:418px;
                        height:17px;
                        margin:0px 308px 2px 0px;
                        background:  url(../images/selgamhd.png) right top  no-repeat;
                        float:left;
                        }
 #main .concont .selhd .sort {
                              height:17px;
                              margin-right:3px;
                              background:  url(../images/sort.jpg) right top  no-repeat;
                              float:left;
                              overflow:hidden;
                              }
 #main .concont .selhd .sort:hover {background:  url(../images/sort.jpg) right bottom  no-repeat;
                                    _background:  url(../images/sort.jpg) right -17px  no-repeat;}
 #main .concont .cont {width:686px;
                       height:265px;
                       background:  url(../images/gams.jpg) left top  no-repeat;
                       float:left;
                       margin-right:40px;
                       padding:3px 0px 0px 0px;
                       }
  #main .concont .cont #games_list { width:709px;
                                     height:263px;
                                     float:left;
                      overflow-y: scroll;
                       overflow-x: hidden;
                       }
  #main .concont .cont .game {width:600px;
                       height:18px;
                       float:left;
                       margin-bottom:1px;
                       background:  url(../images/gameunder.jpg) left bottom  no-repeat;
                       }
    #main .concont .cont #games_list .name {
                                            text-align:right;
                                            height:14px;
                                            float:left;
                                            padding:2px 2px 0px 2px;
                                            font-family:Times New Roman;
                                            font-style:italic;
                                            font-size:14px;
                                            overflow:hidden;
                                            line-height:14px;
                                            border-right:1px solid #37014E;
                                            }
     #main .concont .cont #games_list .crtor {
                                            text-align:right;
                                            height:14px;
                                            float:left;
                                            padding:2px 2px 0px 2px;
                                            font-family:Times New Roman;
                                            font-style:italic;
                                            overflow:hidden;
                                            font-size:14px;
                                            line-height:14px;
                                            border-right:1px solid #37014E;
                                            }
     #main .concont .cont #games_list .tim {
                                            text-align:right;
                                            height:14px;
                                            float:left;
                                            padding:2px 2px 0px 2px;
                                            font-family:Times New Roman;
                                            font-style:italic;
                                            font-size:14px;
                                            overflow:hidden;
                                            line-height:14px;
                                            border-right:1px solid #37014E;
                                            }
     #main .concont .cont #games_list .typ {
                                            text-align:right;
                                            height:14px;
                                            float:left;
                                            padding:2px 8px 0px 2px;
                                            font-family:Times New Roman;
                                            font-style:italic;
                                            font-size:14px;
                                            line-height:14px;
                                            overflow:hidden;
                                            }
 #main .concont .cont #games_list .pass {   background:  url(../images/password.jpg) left bottom  no-repeat;
                                            height:14px;
                                            text-align:left;
                                            width:78px;
                                            float:left;
                                            padding:0px 8px 2px 3px;
                                            font-family:Times New Roman;
                                            font-style:italic;
                                            font-size:13px;
                                            line-height:13px;
                                            border:none;
                                            overflow:hidden;
                                            }
 #main .concont .cont #games_list .nopass {  
                                            height:14px;
                                            text-align:left;
                                            width:78px;
                                            float:left;
                                            padding:0px 8px 2px 3px;
                                            font-family:Times New Roman;
                                            font-style:italic;
                                            font-size:13px;
                                            line-height:13px;
                                            border:none;
                                            overflow:hidden;
                                            }
 #main .concont .cont #games_list .ent {    width:83px;
                      background:  url(../images/entergam.jpg) left top  no-repeat;
                                            height:16px;
                                            overflow:hidden;
                                            float:left;
                                            }
 #main .concont .cont #games_list .ent:hover {background:  url(../images/entergam.jpg) left bottom  no-repeat;
                                              background:  url(../images/entergam.jpg) left -16px  no-repeat;}
 #main .concont .crtgm {width:179px;
                      background:  url(../images/crtgm.jpg) left top  no-repeat;
                                            height:20px;
                                            float:left;
                                            margin:28px 10px 0px 0px;
                        }
 #main .concont .crtgm:hover {background:  url(../images/crtgm.jpg) left bottom  no-repeat;}
 #main .concont .refr {width:164px;
                      background:  url(../images/refr.jpg) left top  no-repeat;
                                            height:20px;
                                            float:left;
                                            margin:28px 275px 0px 0px;
                        }
 #main .concont .refr:hover {background:  url(../images/refr.jpg) left bottom  no-repeat;}
 #main .concont .ext {width:83px;
                      background:  url(../images/logout.jpg) left top  no-repeat;
                                            height:16px;
                                            float:left;
                                            margin:32px 0px 0px 0px;
                                            overflow:hidden;
                        }
 #main .concont .ext:hover {background:  url(../images/logout.jpg) left bottom  no-repeat;
                            background:  url(../images/logout.jpg) left -16px  no-repeat;}
 #chat   {width:750px;
           height:232px;
           background:  url(../images/chatbg.jpg)  no-repeat;
           float:left;
           margin-top:20px;
          }
 #chat #game_chat  {width:733px;
           height:174px;
           float:left;
           margin:17px 0px 0px 0px;
           overflow-y: scroll;
           overflow-x: hidden;
          }
 #chat #chat_text  {width:537px;
           height:19px;
           float:left;
           margin:5px 3px 0px 0px;
           border:none;
           padding-left:16px;
           background:none;
          }
 #chat .send {width:179px;
                      background:  url(../images/send.jpg) left top  no-repeat;
                                            height:23px;
                                            float:left;
                                            margin:3px 0px 0px 0px;
                        }
 #chat .send:hover {background:  url(../images/send.jpg) left bottom  no-repeat;}
 #footer {width:750px;
          float:left;
          text-align:right;
          color:white;
          font-weight:bold;
          padding-bottom:10px;
          }
