.video_window{
	position:absolute;
	width:500px;
	height:420px;
	border:3px solid black;
	margin-left:300px;
	margin-top:200px;
	background-color:white;
}
.video_window a{
	font-color:black;
	text-decoration:underline;
}

.alert_window{
	position:absolute;
	border:3px solid black;
	margin-left:300px;
	margin-top:200px;
	background-color:white;
	padding:50px;
}
.alert_window a{
	font-color:black;
	text-decoration:underline;
}