#!/bin/bash

PATH_TO_SCRIPTS={{ path_to_database_scripts }}
MYSQL_ROOT_PASS={{ mysql_root_password }}

mysql < $PATH_TO_SCRIPTS/create_users.sql -u root --password=$MYSQL_ROOT_PASS --default-character-set=utf8

for entry in "$PATH_TO_SCRIPTS/incremental_updates"/*
do
  mysql < $entry -u root --password=$MYSQL_ROOT_PASS --default-character-set=utf8
done

mysql < $PATH_TO_SCRIPTS/grants.sql -u root --password=$MYSQL_ROOT_PASS --default-character-set=utf8