@font-face {
    font-family: 'edissonregular';
    src: url('../fonts/edisson.ttf');
    font-weight: normal;
    font-style: normal;
}

h3.arena_header {
	font-family: 'edissonregular', 'Times New Roman', Times, serif;
	font-size: 40px;
	position: absolute;
	top: 70px;
    color: #482313;
	top: -4px;
	left: 10px;
    text-align: center;
    text-shadow: 0px -2px 3px #CEAC27;
}

.arena_player_drag {
	background: url(../../images/pregame/arena_player_drag.png) top left no-repeat;
	width:98px;
	height:33px;
	font-family: Lucida Grande;
    font-size: 13px;
    font-weight:bold;
    padding:9px 10px 0px 50px;
    color:#4b4b4b;
    overflow:hidden;
    z-index:100;
}
.exitbtn {
	position:absolute;
	top:7px;
	right:0px;
}

.topbutton.en {
	position:absolute;
	top:7px;
	right:260px;
}

.topbutton.ru {
	position:absolute;
	top:7px;
	right:210px;
}

.prof {
	position:absolute;
	top:7px;
	left:-66px;
}

html{min-height:100%;}
body {
	min-height:100%;
}


/*   Common    */
#wrap {
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:976px;
	height:435px;
	padding:0px 0px 0px 0px;
}
#footer {
	position:absolute;
	right:0px;
	bottom:0px;
	text-shadow: white 1px 1px 1px;
	font-weight:bold;
}
.link {
	color:#edda78;
	text-shadow: #bb9f0b 1px 1px 1px;
}
.topbutton {
	border-color: #D5D5D5 #929292 #828282 #B9B9B9;
    border-style: solid;
    border-width: 1px;
}
.topbutton a {
	float:left;
	border-color: #C0C0C0 #7F7F7F #4E4E4E #B0B0B0;
    border-style: solid;
    border-width: 1px;
	text-align:center;
	text-shadow: white 1px 1px 1px;
	color:#515150;
	font-size:14px;
	padding:5px 10px 7px 10px;
	font-family:Lucida Grande;
	text-decoration:none;
}
.topbutton a:hover {
	color:#edda78;
	text-shadow: #bb9f0b 1px 1px 1px;
}
.topbutton a.unactive {
	color:#c3c3c3;
	text-shadow: #9b9b9b 1px 1px 1px;
}
.header_line {
	float:left;
	text-shadow: white 1px 1px 1px;
	font-weight:bold;
	color:#515150;
	
	font-size:30px;
	padding:0px 0px 20px 20px;
	font-family:Lucida Grande;
}
 .logfields {
	text-shadow: white 1px 1px 1px;
	font-weight:bold;
	color:#515150;
	font-family:Lucida Grande;
 }
 .txtfield {
 	border-color: #4E4E4E #B0B0B0 #C0C0C0 #7F7F7F;
	border-style: solid;
    border-width: 1px;
}
.txtfield input {
	border-color: #828282 #B9B9B9 #D5D5D5 #929292;
    border-style: solid;
    border-width: 1px;
	background:  url(../../images/pregame/inp_bg.png) top left  repeat;
}
.button {
	border-color: #4E4E4E #B0B0B0 #C0C0C0 #7F7F7F;
	border-style: solid;
    border-width: 1px;
}
.button .in_b_1 {
	float:left;
	border-color: #828282 #B9B9B9 #D5D5D5 #929292;
    border-style: solid;
    border-width: 1px;
	padding:2px;
}
.button .in_b_1 .in_b_2 {
	float:left;
	border-color: #D5D5D5 #929292 #828282 #B9B9B9;
    border-style: solid;
    border-width: 1px;
}
.button .in_b_1 .in_b_2 a {
	float:left;
	border-color: #C0C0C0 #7F7F7F #4E4E4E #B0B0B0;
    border-style: solid;
    border-width: 1px;
	text-align:center;
	text-shadow: white 1px 1px 1px;
	color:#515150;
	font-family:Lucida Grande;
	text-decoration:none;
}
.button .in_b_1 .in_b_2 a:hover {
	color:#edda78;
	text-shadow: #bb9f0b 1px 1px 1px;
}
.button .in_b_1 .in_b_2 a.unactive {
	color:#c3c3c3;
	text-shadow: #9b9b9b 1px 1px 1px;
}
.error_msg {
	text-shadow: white 1px 1px 1px;
	font-weight:bold;
	color:#e20000;
	font-size:15px;
	font-family:Lucida Grande;
	border-color: #4E4E4E #B0B0B0 #C0C0C0 #7F7F7F;
	border-style: solid;
    border-width: 1px;
	padding:4px;
	display:none;
	background:  url(../../images/pregame/inp_bg.png) top left repeat;
}
.loading a {
	background:  url(../../images/pregame/loading.gif) top left repeat;
}

/*  player's block   */

#players_cont{
	position:absolute;
	width:230px;
	height:500px;
	left:0px;
	padding:107px 0px 0px 25px;
	background:  url(../../images/pregame/arena_pl_bg.png) top left no-repeat;
	top:26px;
	
}
#players_cont .help {
	background:  url(../../images/pregame/help_sign.png) top left no-repeat;
	width:20px;
	height:26px;
	position:absolute;
	left:190px;
	cursor:pointer;
	top:80px;
}

#players_cont h3 {
	font-family: 'edissonregular', 'Times New Roman', Times, serif;
	font-size: 40px;
	position: absolute;
	top: 70px;
    color: #482313;
	width: 180px;
    text-align: center;
    text-shadow: 0px -2px 3px #CEAC27;
}

#players_cont .help:hover{background:  url(../../images/pregame/help_sign.png) bottom left no-repeat;}
#players_cont #players_list{
	float:left;
	width:200px;
	height:440px;
	margin-top:10px;
	overflow-y:scroll;
}
#players_cont #players_list .arena_player{
	padding:1px 0px 8px 0px; cursor:move; 
	font-family: Lucida Grande;
    font-size: 13px;
    font-weight:bold;
    color:#4b4b4b;
    float:left;
    width:100%;
    background:  url(../../images/pregame/arena_pl_sep.png) bottom center no-repeat;
}
#players_cont #players_list .arena_player a{
  text-decoration:none;
  color:#4b4b4b;
  outline:none;
}
#players_cont #players_list	.arena_player:hover{
	background:  url(../../images/pregame/pl_hover.png) bottom center no-repeat;
}
#players_cont #players_list .status_1 {
	background:  url(../../images/pregame/status_1.png) top left no-repeat;
	width:23px;
	height:19px;
	float:left;
}
#players_cont #players_list .status_2 {
	background:  url(../../images/pregame/status_2.png) top left no-repeat;
	width:23px;
	height:19px;
	float:left;
}
#players_cont #players_list .status_3 {
	background:  url(../../images/pregame/status_3.png) top left no-repeat;
	width:23px;
	height:19px;
	float:left;
}
#players_cont #players_list .status_4 {
	background:  url(../../images/pregame/status_4.png) top left no-repeat;
	width:23px;
	height:19px;
	float:left;
}
#players_cont #players_list .arena_player div {display:inline;}

 #log_cont {
	margin-left:auto;
	margin-right:auto;
	width:628px;
	position:relative;
	
}
 #log_cont #log_form  {
	float:left;
	width:598px;
	height:136px;
	padding:270px 0px 0px 30px;
	background:  url(../../images/pregame/loginbg.png) top left  no-repeat;
}
 #log_cont #log_form form  {
	float:left;
	width:398px;
	padding:0px 100px 0px 100px;
}
 #log_cont #log_form .logfields {
 	float:left;
	width:220px;
	padding:0px 0px 2px 0px;
 }
 #log_cont #log_form .txtfield {
 	float:right;
}
#log_cont #log_form .txtfield input {
	float:left;
}
#log_cont #log_form .reg {
	float:left;
	margin:30px 40px 0px 10px;
}
#log_cont #log_form .button {
	float:right;
}
#log_cont #log_form .button .in_b_1 .in_b_2 a {
	padding:7px 0px 7px 0px;
	width:150px;
}
#log_cont #log_form .error_msg {
 	position:absolute;
	top:327px;
	left:277px;
	width:300px;
 }
 
/* Arena block   */
#i_frame {
	position:absolute;
	width:570px;
	height:450px;
	top:26px;
	left:270px;
	padding:100px 57px 57px 53px;
	overflow:hidden;
	background:  url(../../images/pregame/arena_mcont_bg.png) top left no-repeat;
}


/* Arena block game's list   */
.help {
	background:  url(../../images/pregame/help_sign.png) top left no-repeat;
	width:20px;
	height:26px;
	position:absolute;
	left:530px;
	cursor:pointer;
	top:0px;
}


.tip-wrap {
	padding:3px;
	background:  url(../../images/tip_opacity_bg.png) top left repeat;
	font-family: Lucida Grande;
    font-size: 14px;
    position:absolute;
    top:0px;
    left:150px;
    border:0px;
    z-index:50;
	-moz-border-radius: 1em;
	border-radius: 1em;
}
.tip-wrap .tip {
	width:250px;
	float:left;
	padding:20px 10px 20px 10px;
    border:1px solid #ffd200;
	-moz-border-radius: 1em;
	border-radius: 1em;
	color:#7f7f7f;
	font-size:12px;
}
.textlink {
	font-family: Lucida Grande;
	color:#4b4b4b;
	text-decoration:underline;
}
.textlink:hover {color:#ffa800; }
.gmsheader {
	font-family: Lucida Grande;
    font-size: 15px;
    font-weight:bold;
    width:540px;;
    float:left;
    color:#2e2e2e;
}
.gmstopheader {
	padding:5px 0px 0px 107px;
	font-size:26px;
	width:440px;
}
.gmsunderlined {
	border-bottom:1px solid #4b4b4b;
	padding:0px 0px 4px 0px;
}
#game_list {
	float:left;
	width:540px;
	padding:5px 0px 10px 0px;
	overflow-y:scroll;
	height:150px;
}
#started_game_list {
	float:left;
	width:540px;
	padding:5px 0px 10px 0px;
	overflow-y:scroll;
	height:150px;
}
.arena_game {
	float:left; 
	width:100%;
	font-family: Lucida Grande;
    font-size: 14px;
    color:#2e2e2e;
    position:relative;
}
.arena_game .pass_inp {
	padding:3px;
	background:  url(../../images/tip_opacity_bg.png) top left repeat;
	font-family: Lucida Grande;
    font-size: 14px;
    position:absolute;
    top:0px;
    left:150px;
    border:0px;
	-moz-border-radius: 1em;
	border-radius: 1em;
	z-index: 1;
}
.arena_game .pass_inp .inner {
	width:250px;
	float:left;
	padding:20px 10px 20px 10px;
    border:1px solid #ffd200;
	-moz-border-radius: 1em;
	border-radius: 1em;
}
.arena_game .pass_inp .inner .text {
	color:#7f7f7f;
	float:left;
	width:100%;
	padding-bottom:5px;
}
.arena_game .pass_inp .inner input {
	width:100px;
	background:  url(../../images/bg_white_opacity.png) top left repeat;
    float:left;
    border:none;
    height:20px;
    margin-right:1px;
}
.arena_game .pass_inp .inner .topbutton {
	background-color:#a5a5a5;
	float:left;
	margin-right:1px;
}
.arena_game .pass_inp .inner .topbutton a {
	padding:1px 10px 2px 10px;
	font-size:12px;
}
.arena_game .game_state {
	float:left; 
	width:18px; height:25px;
	margin-right:4px;
}
.arena_game.free .game_state {
	background:  url(../../images/pregame/unlocked_game.png) center left no-repeat;
}
.arena_game.closed .game_state {
	background:  url(../../images/pregame/locked_game.png) center left no-repeat;
}
.arena_game .game_name {
	float:left;  height:20px;
	padding:5px 0px 0px 0px;
	width:150px;
	overflow:hidden;
}
.arena_game .game_players {
	float:left; 
	width:35px; height:21px;
	margin-right:5px;
	text-align:right;
	font-weight:bold;
	padding:4px 0px 0px 0px;
	background:  url(../../images/pregame/game_players.png) center left no-repeat;
}
.arena_game .game_specs {
	float:left; 
	width:50px; height:21px;
	margin-right:5px;
	text-align:right;
	font-weight:bold;
	padding:4px 0px 0px 0px;
	background:  url(../../images/pregame/game_spect.png) center left no-repeat;
}
.arena_game .owner_name {
	float:left;  height:20px;
	text-align:right;
	width:70px;
	font-weight:bold;
	padding:5px 0px 0px 0px;
}
.arena_game .fame_mode {
	float:left;  height:20px;
	padding:5px 0px 0px 0px;
	font-weight:bold;
	margin-right:15px;
}
.arena_game .textlink {
	float:left;  height:20px;
	padding:5px 0px 0px 0px;
}
/* Chat block   */
.chat {
	position:absolute;
	width:925px;
	height:200px;
	top:617px;
	left:0px;
	z-index:20;
	padding:45px 11px 0px 11px;
	background:  url(../../images/pregame/chat_bg.png) top left no-repeat;
}
.chat .help {
	top:90px;
	left:900px;
	z-index:25;
}
.chat .tickbar {
	float:left;
	width:925px;
	height:40px;
}
.chat .tickbar .arrow {
	width:25px;
	height:30px;
	cursor:pointer;
	-moz-opacity:.5; -webkit-opacity:.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";/*IE8*/ opacity:.5;
}
.chat .tickbar .arrow.unactive {
	-moz-opacity:.25; -webkit-opacity:.25; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";/*IE8*/ opacity:.25;
}
.chat .tickbar .arrow:hover {
	-moz-opacity:.75; -webkit-opacity:.75; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";/*IE8*/ opacity:.75;
}
.chat .tickbar .l_arrow {
	float:left;
	background:  url(../../images/pregame/chat_left_arr.png) center no-repeat;
}
.chat .tickbar .r_arrow {
	float:right;
	background:  url(../../images/pregame/chat_right_arr.png) center no-repeat;
}
.chat .tickbar .con_ticks {
	float:left;
	position:relative;
	width:874px;
	height:40px;
	overflow:hidden;
}
.chat .tickbar .con_ticks .ticks {
	position:absolute;
	height:40px;
	width:5000px;
	top:0px;
	left:0px;
}
.chat .tickbar .con_ticks .ticks .tick {
	float:left;
	height:40px;
	margin-right:4px;
	font-family: Lucida Grande;
    font-size: 13px;
    color:#4b4b4b;
    line-height:30px;
    overflow:hidden;
}
.chat .tickbar .con_ticks .ticks .tick .tick_cross {
	float:right;
	height:11px;
	width:11px;
	margin:10px 3px 0px 4px;
	cursor:pointer;
    
}
.chat .tickbar .con_ticks .ticks .main_tick .tick_cross {
	background:  url(../../images/pregame/tick_crosses.png) bottom left no-repeat;
}
.chat .tickbar .con_ticks .ticks .back_tick .tick_cross {
	background:  url(../../images/pregame/tick_crosses.png) top left no-repeat;
}
.chat .tickbar .con_ticks .ticks .main_tick {
	width:130px;
	padding:0px 5px 0px 15px;
	background:  url(../../images/pregame/chat_back_tick.png) top left no-repeat;
}
.chat .tickbar .con_ticks .ticks .back_tick {
	cursor:pointer;
	width:130px;
	padding:0px 5px 0px 15px;
	background:  url(../../images/pregame/chat_back_tick.png) bottom left no-repeat;
}
.chat .tickbar .con_ticks .ticks .back_tick.visibility_1 {
	background:  url(../../images/pregame/chat_back_tick.png) center left no-repeat;
}
.chat .tickbar .con_ticks .ticks .back_tick.visibility_2 {
	background:  url(../../images/pregame/chat_back_tick.png) top left no-repeat;
}
.chat .tickbar .con_ticks .ticks .back_tick:hover {
	background:  url(../../images/pregame/chat_back_tick.png) center left no-repeat;
}
.chat .con_chat_field {
	float:left;
	width:481px;
	height:125px;
	overflow:hidden;
	padding:7px 4px 0px 23px;
}
.chat .con_chat_field .chat_field {
	float:left;
	width:480px;
	height:123px;
	overflow:hidden;
	overflow-y:scroll;
	border:1px solid #9d9379;
	border-right:none;
	background:  url(../../images/bg_white_opacity.png) top left repeat;
}
.chat .con_chat_field .chat_field.hidden {
	display:none;
}
.chat .chat_send_field {
	float:left;
	width:156px;
	height:123px;
	overflow:hidden;
	margin-top:7px;
	border:1px solid #c2b186;
	background:  url(../../images/bg_white_opacity.png) top left repeat;
	-moz-opacity:.8; -webkit-opacity:.8; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";/*IE8*/ opacity:.8;
}
.chat .tools {
	float:left;
	width:226px;
	height:125px;
	padding:0px 7px 0px 7px;
	
	margin-top:7px;
}
.chat .tools .lords_in_chat {
	float:left;
	width:207px;
	position:relative;
	height:28px;
}
.chat .tools .lords_in_chat .btn_lrd {
	float:left;
	width:185px;
	height:26px;
	font-family: Lucida Grande;
    font-size: 13px;
    color:#4b4b4b;
    padding-left:20px;
    background:  url(../../images/pregame/chat_pls_arr.png) top left no-repeat;
    background-position:5px 10px;
    border:1px solid #9d9379;
	line-height:24px;
}
.chat .tools .lords_in_chat .players {
	position:absolute;
	top:27px;
	left:0px;
	display:none;
	width:205px;
	height:96px;
	z-index:22;
	font-family: Lucida Grande;
    font-size: 13px;
    color:#4b4b4b;
    overflow-y:scroll;
    background-color:#e4c886;
    border:1px solid #9d9379;
}
.chat .tools .lords_in_chat:hover .players {display:block;}
.chat .tools .lords_in_chat .players.hidden {display:none;}
.chat .tools .lords_in_chat .players span {
	float:left;
	width:100%;
	height:20px;
	font-family: Lucida Grande;
    font-size: 13px;
    color:#4b4b4b;
}
.chat .tools .chat_sm {
	float:left;
	width:190px;
	height:26px;
	margin:16px 0px 5px 3px;
	padding:10px 5px 0px 5px;
    border-bottom:1px solid #484848;
	line-height:34px;
}
.chat .tools .chat_sm .smiles {
	float:left;
	width:19px;
	position:relative;
	height:19px;
	line-height:34px;
	background:  url(../../images/pregame/smiles/Animated22/zf.gif) top left no-repeat;
}
.chat .tools .chat_sm .smiles .allsmiles {
	position:absolute;
	width:200px;
	height:200px;
	display:none;
	left:0px;
	bottom:0px;
	overflow-y:scroll;
    background-color:#e4c886;
    border:1px solid #9d9379;
}
.chat .tools .chat_sm .smiles:hover .allsmiles {display:block;}
.chat .tools .chat_sm .smiles .allsmiles img {cursor:pointer;}
.chat .tools .send_btn {
	float:left;
	width:205px;
	height:36px;
	font-family: Lucida Grande;
    font-size: 13px;
    color:#4b4b4b;
    border:1px solid #9d9379;
	line-height:34px;
	text-decoration:none;
	text-align:center;
}
.chat .tools .send_btn:hover {
    border:1px solid #3f3f3f;
}
.chat .tickbar .con_ticks .ticks .tick input{
    background-color:transparent;
    border:none;
    font-family: Lucida Grande;
    font-size: 13px;
    color:#4b4b4b;
    line-height:30px;
    outline:none;
    text-overflow: ellipsis;
}
.chat .tickbar .con_ticks .ticks .tick .active{
    background-color:white;
    border:1px solid black;
}
