.profile {
	background:  url(../../images/pregame/profile_mcont_bg.png) top left  no-repeat;
	width:588px;
	height:607px;
	margin-top:26px;
	padding:100px 93px 0px 50px;
}
.profile .back {
	position:absolute;
	top:-19px;
	left:-60px;
}
.profile .exitbtn {
	position:absolute;
	top:-19px;
	right:-10px;
}

.profile .en {
    position:absolute;
    top:-19px;
    right:260px;
}

.profile .ru {
    position:absolute;
    top:-19px;
    right:210px;
}

.title {
    font-family: Lucida Grande;
    font-weight:bold;
    float:left;
    color:#754820;
    padding:5px 0px 0px 157px;
    font-size:26px;
    width:420px;
}
.title .nick {
    color: #4B4B4B;
    font-style: italic;
    overflow: hidden;
    display:inline;
}
.profile_cont{
  margin-top:10px;
  width:590px;
}
.profile_image img{
  margin-left:20px;
}
h5{
  color:#754820;
  font-size:14px;
  line-height:16px;
}
h3{
  color:#754820;
  font-size:18px;
  line-height:20px;
}
.profile_image{
  float:left;
  width:200px;
}
.error{
  color:red;
}
.stats{
  border: 1px solid #888;
  border-collapse:collapse;
}
.stats td{
  border: 1px solid #888;
  padding:2px;
}