/*--------------------------------левый верхний замок--------------------------------------*/
.castle_0_0 {background:  url(../images/buildings/castle_0.png) top left no-repeat !important;
            position:absolute;
            left:-4px;
            top:-16px;
            width:70px;
            height:83px;
            }
/*--------------------------------правый верхний замок--------------------------------------*/
.castle_18_0 {background:  url(../images/buildings/castle_1.png) top left no-repeat !important;
            position:absolute;
            right:-39px;
            top:-16px;
            width:73px;
            height:80px;
            }
/*--------------------------------правый нижний замок--------------------------------------*/
.castle_19_18 {background:  url(../images/buildings/castle_2.png) top left no-repeat !important;
            position:absolute;
            right:-5px;
            top:-0px;
            width:73px;
            height:72px;
            }
/*--------------------------------левый нижний замок--------------------------------------*/
.castle_0_18 {background:  url(../images/buildings/castle_3.png) top left no-repeat !important;
            position:absolute;
            left:-3px;
            top:0px;
            width:70px;
            height:72px;
            }
/*--------------------------------телепорт--------------------------------------*/
.building_teleport {background:  url(../images/buildings/teleport.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:39px;
            height:43px;
            }
/*--------------------------------маг башня--------------------------------------*/
.building_magic_tower {background:  url(../images/buildings/magic_tower.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:39px;
            height:48px;
            }
/*--------------------------------монетный двор--------------------------------------*/
.building_coin_factory {background:  url(../images/buildings/coin_factory.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:38px;
            height:37px;
            }
/*--------------------------------храм лечения--------------------------------------*/
.building_healing_temple {background:  url(../images/buildings/healing_temple.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:38px;
            height:39px;
            }
/*--------------------------------дерево--------------------------------------*/
.building_tree {background:  url(../images/buildings/tree.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:38px;
            height:48px;
            }
/*--------------------------------казармы--------------------------------------*/
.building_barracks {background:  url(../images/buildings/barracks.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:38px;
            height:33px;
            }
/*--------------------------------стена закрытая--------------------------------------*/
.building_wall_closed{background:  url(../images/buildings/wall_closed.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:34px;
            height:34px;
            }
/*--------------------------------стена открытая--------------------------------------*/
.building_wall_opened{background:  url(../images/buildings/wall_opened.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:34px;
            height:34px;
            }
/*--------------------------------ров-------------------------------------*/
.building_moat {background:  url(../images/buildings/moat.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:34px;
            height:34px;
            }
/*--------------------------------мост--------------------------------------*/
.building_bridge_0_0_1 {background:  url(../images/buildings/bridge_top_left.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:-34px;
            width:69px;
            height:69px;
            }
.building_bridge_1_0_2 {background:  url(../images/buildings/bridge_top_right.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:0px;
            width:69px;
            height:69px;
            }
.building_bridge_3_0_1 {background:  url(../images/buildings/bridge_bottom_left.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:0px;
            width:69px;
            height:69px;
            }
.building_bridge_2_0_2 {background:  url(../images/buildings/bridge_bottom_right.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:-34px;
            width:69px;
            height:69px;
            }
/*--------------------------------разрушенный мост--------------------------------------*/
.building_destroyed_bridge_0_0_1 {background:  url(../images/buildings/destroyed_bridge_top_left.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:-34px;
            width:69px;
            height:69px;
            }
.building_destroyed_bridge_1_0_2 {background:  url(../images/buildings/destroyed_bridge_top_right.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:0px;
            width:69px;
            height:69px;
            }
.building_destroyed_bridge_3_0_1 {background:  url(../images/buildings/destroyed_bridge_bottom_left.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:0px;
            width:69px;
            height:69px;
            }
.building_destroyed_bridge_2_0_2 {background:  url(../images/buildings/destroyed_bridge_bottom_right.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:-34px;
            width:69px;
            height:69px;
            }
/*--------------------------------озеро--------------------------------------*/
.building_lake_0_0_1 {background:  url(../images/buildings/lake.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:-34px;
            width:139px;
            height:104px;
            }
.building_lake_0_1_2 {background:  url(../images/buildings/lake.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:-34px;
            width:139px;
            height:104px;
            }
.building_lake_2_0_10 {background:  url(../images/buildings/lake.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:-34px;
            width:139px;
            height:104px;
            }
.building_lake_2_1_9 {background:  url(../images/buildings/lake.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:-34px;
            width:139px;
            height:104px;
            }
.building_lake_1_0_4 {background:  url(../images/buildings/lake_.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:-34px;
            width:104px;
            height:139px;
            }
.building_lake_1_1_4 {background:  url(../images/buildings/lake_.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:-34px;
            width:104px;
            height:139px;
            }
.building_lake_3_0_7 {background:  url(../images/buildings/lake_.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:-34px;
            width:104px;
            height:139px;
            }
.building_lake_3_1_7 {background:  url(../images/buildings/lake_.png) top left no-repeat !important;
            position:absolute;
            top:0px;
            left:-34px;
            width:104px;
            height:139px;
            }
/*--------------------------------горы--------------------------------------*/
.building_mountain_0_0_3, .building_mountain_2_0_16 {background:  url(../images/buildings/mountain.png) top left no-repeat !important;
            position:absolute;
            top:-7px;
            left:-110px;
            width:196px;
            height:165px;
            }
.building_mountain_0_1_4, .building_mountain_2_1_15 {background:  url(../images/buildings/mountain_.png) top left no-repeat !important;
            position:absolute;
            top:-13px;
            left:-3px;
            width:200px;
            height:170px;
            }
.building_mountain_1_0_15, .building_mountain_3_0_4 {background:  url(../images/buildings/mountain_1.png) top left no-repeat !important;
            position:absolute;
            top:-2px;
            left:-8px;
            width:184px;
            height:176px;
            }
.building_mountain_1_1_15, .building_mountain_3_1_4 {background:  url(../images/buildings/mountain_1_.png) top left no-repeat !important;
            position:absolute;
            top:-1px;
            left:-115px;
            width:177px;
            height:179px;
            }
/*--------------------------------копейщик--------------------------------------*/
.unit_spearman {background:  url(../images/units/spearman.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:34px;
            height:34px;
            }
/*--------------------------------мечник--------------------------------------*/
.unit_swordsman {background:  url(../images/units/swordsman.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:29px;
            height:43px;
            }
/*--------------------------------рыцарь--------------------------------------*/
.unit_knight_on_foot {background:  url(../images/units/knight_on_foot.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:34px;
            height:34px;
            }
/*--------------------------------конный--------------------------------------*/
.unit_knight_with_horse {background:  url(../images/units/knight_with_horse.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:39px;
            height:54px;
            }
/*--------------------------------ниндзя--------------------------------------*/
.unit_ninja {background:  url(../images/units/ninja.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:34px;
            height:34px;
            }
/*--------------------------------голем--------------------------------------*/
.unit_golem {background:  url(../images/units/golem.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:34px;
            height:34px;
            }
/*--------------------------------таран--------------------------------------*/
.unit_taran {background:  url(../images/units/taran.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:43px;
            height:48px;
            }
/*--------------------------------маг--------------------------------------*/
.unit_wizard {background:  url(../images/units/wizard.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:34px;
            height:50px;
            }
/*--------------------------------некромант--------------------------------------*/
.unit_necromancer {background:  url(../images/units/necromancer.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:38px;
            height:51px;
            }
/*--------------------------------дракон--------------------------------------*/
.unit_dragon {background:  url(../images/units/dragon.png) top left no-repeat !important;
            position:absolute;
            right:0px;
            bottom:0px;
            width:69px;
            height:69px;
            }
/*--------------------------------жабка--------------------------------------*/
.unit_frog {background:  url(../images/units/frog.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:34px;
            height:34px;
            }
/*--------------------------------тролль--------------------------------------*/
.unit_troll {background:  url(../images/units/troll.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:34px;
            height:34px;
            }
/*--------------------------------вампир--------------------------------------*/
.unit_vampire {background:  url(../images/units/vampire.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:34px;
            height:34px;
            }
/*--------------------------------лучник--------------------------------------*/
.unit_archer {background:  url(../images/units/archer.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:29px;
            height:43px;
            }
/*--------------------------------арбалетчик--------------------------------------*/
.unit_arbalester {background:  url(../images/units/arbalester.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:29px;
            height:43px;
            }
/*--------------------------------катапульта--------------------------------------*/
.unit_catapult {background:  url(../images/units/catapult.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:38px;
            height:43px;
            }
/*--------------------------------могилки--------------------------------------*/
.grave {background:  url(../images/units/grave.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:34px;
            height:34px;
            }
            /*---дракон---*/
.grave_dragon {background:  url(../images/graves/dragon.png) top left no-repeat !important;
            position:absolute;
            left:0px;
            top:0px;
            width:69px;
            height:69px;
            }
/*--------------------------------радиус--------------------------------------*/
.glow {background:  url(../images/glow.png) top left no-repeat !important;
            position:absolute;
            bottom:0px;
            right:0px;
            width:34px;
            height:34px;
}
.level-star{
  display:block;
  background:  url(../images/star.png) top left no-repeat !important;
  position:absolute;
  right:0;
  top:0;
  width:10px;
  height:10px;
}
.level-star:hover{
  background:  url(../images/star2.png) top left no-repeat !important;
}