.tip {
	background-color: white;
}

html,
body {
	text-align: left;
	margin: 0px;
	width: 100%;
	float: left;
}

body {
	background: url(../images/origbg.jpg) top left repeat;
}

a,
a:focus {
	outline: none;
	text-decoration: none;
}

ul {
	list-style: none;
}

#topbg {
	background: url(../images/origtopbg.jpg) repeat-x;
	height: 20px;
	width: 100%;
}

#wrap {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

#wrap .abscont {
	position: relative;
}

#wrap .pl_info {
	background: url(../images/players_info_bg.png) top left no-repeat;
	position: absolute;
	left: -7px;
	top: -20px;
	width: 697px;
	height: 18px;
	padding: 3px 10px 10px 22px;
}

#wrap .pl_info .coin {
	border-right: 1px solid #88787c;
	height: 11px;
	width: 22px;
	float: left;
	height: 18px;
	line-height: 11px;
	background: url(../images/coin_plinf.gif) left top no-repeat;
}

#wrap .pl_info .coin.blink {
	background: url(../images/coin_plinf.gif) left bottom no-repeat;
}

#wrap .pl_info .time {
	border-left: 1px solid #88787c;
	height: 11px;
	padding: 3px 10px 0px 6px;
	color: #c3a101;
	font-family: Times New Roman;
	font-size: 11px;
	height: 15px;
	width: 30px;
	line-height: 11px;
	float: right;
	font-weight: bold;
}

#wrap .pl_info .turn {
	padding: 3px 3px 0px 6px;
	color: #c3a101;
	font-family: Times New Roman;
	font-size: 11px;
	height: 15px;
	width: 50px;
	line-height: 11px;
	float: right;
	font-weight: bold;
}

#wrap .pl_info .player {
	color: #807e5a;
	font-family: Arial;
	font-size: 11px;
	float: left;
	clear: none;
	margin-left: 5px;
	height: 15px;
	line-height: 11px;
	padding: 3px 5px 0px 5px;
	font-weight: bold;
}

#wrap .pl_info .money {
	color: #807e5a;
	font-family: Arial;
	font-size: 11px;
	float: left;
	height: 15px;
	line-height: 11px;
	padding: 3px 0px 0px 0px;
	width: 24px;
	text-align: right;
	overflow: hidden;
	font-weight: bold;
}

#wrap .pl_info .flag {
	height: 13px;
	float: left;
	width: 16px;
	font-family: Arial;
	font-weight: bold;
	font-size: 9px;
	text-align: center;
	text-transform: upprecase;
	padding-top: 5px;
	padding-left: 1px;
	margin: 0px 4px 0px 7px;
}

#wrap .pl_info .flag.pl0 {
	background: url(../images/flag_0.png) center no-repeat;
}

#wrap .pl_info .flag.pl1 {
	background: url(../images/flag_1.png) center no-repeat;
}

#wrap .pl_info .flag.pl2 {
	background: url(../images/flag_2.png) center no-repeat;
}

#wrap .pl_info .flag.pl3 {
	background: url(../images/flag_3.png) center no-repeat;
}

#wrap .pl_info .user {
	color: #f3f2e6;
}

#wrap .pl_info .current {
	color: #13dd0b;
}

#container {
	float: left;
	width: 715px;
	margin-top: 15px;
}

#canvas {
	width: 715px;
	height: 715px;
	position: absolute;
	z-index: 2000;
	background: none;
}

#hor_line1 {
	width: 325px;
	height: 1px;
	position: absolute;
	z-index: 2000;
	margin-top: 357px;
	margin-left: 25px;
}

#hor_line2 {
	width: 325px;
	height: 1px;
	position: absolute;
	z-index: 2000;
	margin-top: 357px;
	margin-left: 365px;
}

#ver_line1 {
	height: 325px;
	width: 1px;
	position: absolute;
	z-index: 2000;
	margin-left: 357px;
	margin-top: 25px;
}

#ver_line2 {
	height: 325px;
	width: 1px;
	position: absolute;
	z-index: 2000;
	margin-left: 357px;
	margin-top: 365px;
}

#container .barrow {
	position: absolute;
	z-index: 2002;
	cursor: crosshair;
}

#container .lines.pl0 {
	background-color: #fcff00;
}

#container .lines.pl1 {
	background-color: #f000ff;
}

#container .lines.pl2 {
	background-color: #5c5ccf;
}

#container .lines.pl3 {
	background-color: #00e4ff;
}

#container .lines.newtrl {
	background-color: #b68040;
}

#posl {
	height: 15px;
	margin-top: 350px;
	width: 25px;
}

#posr {
	height: 15px;
	margin-top: 350px;
	margin-left: 690px;
	width: 25px;
}

#post {
	width: 15px;
	margin-left: 350px;
	height: 25px;
}

#posb {
	width: 15px;
	margin-left: 350px;
	margin-top: 690px;
	height: 25px;
}

#container .board {
	background: url(../images/gamefield.png) no-repeat;
	width: 707px;
	height: 707px;
	padding: 8px 0px 0px 8px;
	margin: 0px 7px 7px 0px;
}

#container .board.pl0 {
	background-color: #fcff00;
}

#container .board.pl1 {
	background-color: #f000ff;
}

#container .board.pl2 {
	background-color: #5c5ccf;
}

#container .board.pl3 {
	background-color: #00e4ff;
}

#container .board.newtrl {
	background-color: #b68040;
}

#container .board.red {
	background-color: red !important;
}

#container .overboard {
	position: absolute;
	z-index: 2001;
	background: none;
}

#container .overboard .board_cell {
	z-index: 2001;
}

#container .overboard .board_cell div {
	width: 34px;
	height: 34px;
}

#container .board .board_cell {
	float: left;
	width: 34px;
	height: 34px;
	margin: 0px 1px 1px 0px;
	overflow: visible;
	cursor: pointer;
	position: relative;
}

#container .board .board_cell .hred {
	width: 34px;
	height: 34px;
	background-color: #ff0000;
	opacity: 0;
	position: absolute;
}

#container .board .board_cell .hgreen {
	width: 34px;
	height: 34px;
	background-color: #33ff00;
	opacity: 0;
	position: absolute;
}

#container .board .green {
	background: url(../images/bg_green.png) top left repeat !important;
}

#container .board .red {
	background: url(../images/bg_red.png) top left repeat !important;
}

#container .board .pl1 {
	background: url(../images/bg_pl1.png) top left repeat !important;
}

#container .board .pl2 {
	background: url(../images/bg_pl2.png) top left repeat !important;
}

#container .board .pl3 {
	background: url(../images/bg_pl3.png) top left repeat !important;
}

#container .board .pl4 {
	background: url(../images/bg_pl4.png) top left repeat !important;
}

#container .board .newtrl {
	background: url(../images/bg_newtrl.png) top left repeat !important;
}

#container .board .yel {
	background: url(../images/bg_yel.png) top left repeat !important;
}

#container .board .yel {
	background: url(../images/glow1.png) top left no-repeat !important;
}

#container .board .remind {
	background: #d44334 !important;
}

#container .board .aim0 {
	outline: 1px dotted #33ff00;
}

#container .board .aim1 {
	outline: 1px dotted #fdee00;
}

#container .board .aim2 {
	outline: 1px dotted #ff0000;
}

#container .board .aim3 {
	outline: 1px dotted #5b5bcd;
}

#container .board .activeUnit {
	outline: 1px solid #33ff00;
}

#container .board .attackUnit {
	outline: 1px solid #ff0000;
}

#container .board .markCoords {
	outline: 1px solid #eef100;
}

#container .board .markCoords2 {
	outline: 1px solid white;
}

.left_wirt {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 168px;
	height: 84px;
	background: url(../images/left_wirt.png) no-repeat;
}

.right_wirt {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 168px;
	height: 84px;
	background: url(../images/right_wirt.png) no-repeat;
}

#footer {
	width: 300px;
	position: absolute;
	bottom: 0px;
	right: 10px;
	text-align: right;
	color: white;
	font-weight: bold;
	padding-bottom: 10px;
}


/*-----------------------чат-------------------------*/

#wrap .abscont #leftbar {
	position: absolute;
	left: -250px;
	top: 50px;
	width: 230px;
	z-index: 2150;
	height: 700px;
	overflow: visible;
}

.chat {
	float: left;
	width: 230px;
	margin: 5px 0px 5px 0px;
	z-index: 2151;
}

.chat .header {
	float: left;
	height: 36px;
	width: 230px;
	background: url(../images/chat_header.png) no-repeat;
	cursor: move;
	text-align: center;
	line-height: 38px;
	font-style: italic;
}

.chat .chat_cont {
	float: left;
	width: 215px;
	padding: 0px 7px 0px 8px;
	background: url(../images/chat_rep.png) repeat-y;
}

.chat .chat_cont .game_chat {
	float: left;
	width: 211px;
	padding: 0px 2px 0px 2px;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: Arial;
	font-size: 11px;
	color: white;
}

.chat .chat_cont .game_chat .mes {
	float: left;
	width: 180px;
	padding: 3px 0px 0px 0px;
}

.chat .chat_cont .game_chat .mes span {
	padding-left: 10px;
	float: left;
	width: 180px;
	color: white;
}

.chat .chat_cont .game_chat .mes p {
	color: #ccc;
	font-weight: bold;
	float: left;
	width: 180px;
	overflow: hidden;
}

.chat .chat_toolbar {
	float: left;
	width: 210px;
	height: 29px;
	padding: 0px 8px 0px 12px;
	background: url(../images/chat_toolbar.png) no-repeat;
}

.chat .chat_toolbar .chat_cnt {
	float: left;
	width: 27px;
	height: 15px;
	margin-top: 10px;
	font-family: Arial;
	font-size: 11px;
	overflow: hidden;
	color: black;
}

.chat .chat_mes {
	float: left;
	width: 215px;
	height: 40px;
	padding: 0px 7px 0px 8px;
	background: url(../images/chat_rep.png) repeat-y;
}

.chat .chat_mes textarea {
	background: none;
	float: left;
	width: 100%;
	border: none;
	max-height: 40px;
	overflow-x: hidden;
	font-family: Arial;
	font-size: 11px;
	color: white;
}

.chat .chat_bottom {
	float: left;
	width: 214px;
	height: 17px;
	padding: 0px 8px 0px 8px;
	background: url(../images/chat_bottom.png) no-repeat;
	cursor: n-resize;
}


/*-----------------------лог игры-------------------------*/

#wrap .abscont #rightbar {
	position: absolute;
	left: 735px;
	top: 50px;
	width: 230px;
	z-index: 2150;
	height: 700px;
	overflow: visible;
}

.log {
	float: left;
	width: 230px;
	margin: 5px 0px 5px 0px;
	z-index: 2151;
}

.log .header {
	float: left;
	height: 36px;
	width: 230px;
	background: url(../images/log_header.png) no-repeat;
	cursor: move;
	text-align: center;
	line-height: 38px;
	font-style: italic;
}

.log .log_cont {
	float: left;
	width: 215px;
	padding: 0px 7px 0px 8px;
	background: url(../images/chat_rep.png) repeat-y;
}

.log .log_cont .game_log {
	float: left;
	width: 212px;
	padding: 0px 2px 0px 1px;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: Arial;
	font-size: 11px;
	color: white;
}

.log .log_cont .game_log .mes {
	float: left;
	width: 196px;
	margin: 1px 0px 1px 0px;
}

.log .log_cont .game_log .mes .main {
	width: 175px;
	padding: 3px 0px 3px 20px;
	cursor: pointer;
}

.log .log_cont .game_log .mes img {
	margin: 0px 3px;
}

.log .log_cont .game_log .mes.p0 .main {
	background: url(../images/flag_0.png) center left no-repeat;
}

.log .log_cont .game_log .mes.p1 .main {
	background: url(../images/flag_1.png) center left no-repeat;
}

.log .log_cont .game_log .mes.p2 .main {
	background: url(../images/flag_2.png) center left no-repeat;
}

.log .log_cont .game_log .mes.p3 .main {
	background: url(../images/flag_3.png) center left no-repeat;
}

.log .log_cont .game_log .mes.newtrl .main {
	background: url(../images/flag_4.png) center left no-repeat;
}

.log .log_cont .game_log .mes .main.new1 {
	background-color: #B3B2B2;
	color: black;
}

.log .log_cont .game_log .mes .main.new2 {
	background-color: #706C63;
	color: black;
}

.log .log_cont .game_log .mes .main.new3 {
	background-color: #524D43;
	color: black;
}

.log .log_cont .game_log .mes .main.old {
	background-color: none;
	color: white;
}

.log .log_cont .game_log .mes .cont:hover {
	background-color: #B3B2B2 !important;
	color: black !important;
}

.log .log_cont .game_log .mes .sub {
	float: left;
	width: 175px;
	padding-left: 20px;
}

.log .log_cont .game_log .mes .sub span {
	float: left;
	width: 175px;
	margin: 1px 0px 1px 0px;
}

.log .log_cont .game_log .mes .sub .color {
	float: left;
	font-weight: bold;
	cursor: help;
}

.log .log_cont .game_log .mes .p0 {
	color: #fcff00;
}

.log .log_cont .game_log .mes .p1 {
	color: #f000ff;
}

.log .log_cont .game_log .mes .p2 {
	color: #5c5ccf;
}

.log .log_cont .game_log .mes .p3 {
	color: #00e4ff;
}

.log .log_cont .game_log .mes .newtrl {
	color: #b68040;
}

.log .log_cont .game_log .mes .sub .icon {
	width: 12px;
	height: 12px;
	float: left;
	cursor: help;
	margin: 0px 3px 0px 3px;
}

.log .log_cont .game_log .mes .sub .move {
	background: url(../images/icon_move.png) center no-repeat;
}

.log .log_cont .game_log .mes .sub .attack {
	background: url(../images/icon_attack.png) center no-repeat;
}

.log .log_cont .game_log .mes .sub .crit {
	background: url(../images/icon_crit.png) center no-repeat;
}

.log .log_cont .game_log .mes .sub .miss {
	background: url(../images/icon_miss.png) center no-repeat;
}

.log .log_cont .game_log .mes .sub .damage {
	background-color: red;
	text-align: center;
	padding-bottom: 1px;
}

.log .log_cont .game_log .mes .sub b.damage {
	background-color: red;
	text-align: center;
	padding: 0px 3px 1px 3px;
}

.log .log_bottom {
	float: left;
	width: 214px;
	height: 17px;
	padding: 0px 8px 0px 8px;
	background: url(../images/chat_bottom.png) no-repeat;
	cursor: n-resize;
}

.log .log_cont #game_log span {
	display: block;
	margin-top: 3px;
}


/*-----------------------блок управления-------------------------*/

.ctrl_block {
	float: left;
	width: 225px;
	margin: 5px 0px 5px 0px;
	cursor: move;
	z-index: 2151;
}

.ctrl_block .block {
	float: left;
	width: 225px;
}

.ctrl_block .block .buttons {
	float: left;
	width: 180px;
	padding: 7px 0px 0px 45px;
	background: url(../images/ctrl_but_top.png) no-repeat;
}

.ctrl_block .block .buttons .btn_buycard {
	float: left;
	height: 24px;
	width: 152px;
	margin-top: 2px;
	background: url(../images/btn_buycard.png) bottom left no-repeat;
}

.ctrl_block .block .buttons a {
	font-style: italic;
    font-size: 14px;
    padding-left: 32px;
	line-height: 24px;
	color: #000;
}

.ctrl_block .block .buttons a:hover {
	color: #999;
}

.ctrl_block .block .buttons .btn_buycard:hover {
	background: url(../images/btn_buycard.png) top left no-repeat;
}

.ctrl_block .block .buttons .btn_sendm {
	float: left;
	height: 24px;
	width: 152px;
	margin-top: 2px;
	background: url(../images/btn_sendm.png) bottom left no-repeat;
}

.ctrl_block .block .buttons .btn_sendm:hover {
	background: url(../images/btn_sendm.png) top left no-repeat;
}

.ctrl_block .block .buttons .btn_subs {
	float: left;
	height: 24px;
	width: 152px;
	margin-top: 2px;
	background: url(../images/btn_subs.png) bottom left no-repeat;
}

.ctrl_block .block .buttons .btn_subs:hover {
	background: url(../images/btn_subs.png) top left no-repeat;
}

.ctrl_block .block .buttons .btn_end_turn {
	float: left;
	height: 24px;
	width: 152px;
	margin-top: 2px;
	background: url(../images/btn_end_turn.png) bottom left no-repeat;
}

.ctrl_block .block .buttons .btn_end_turn:hover {
	background: url(../images/btn_end_turn.png) top left no-repeat;
}

.ctrl_block .block .buttons .unactive {
	background-position: top left;
	color: #999;
}

.ctrl_block .block .main_cont {
	float: left;
	width: 225px;
	padding: 0px 0px 0px 0px;
	background: url(../images/ctrl_main.png) no-repeat;
}

.ctrl_block .block .main_cont .inner {
	float: left;
	width: 194px;
	padding: 0px 0px 7px 31px;
	background: url(../images/ctrl_main_bottom.png) bottom no-repeat;
}

.ctrl_block .block .main_cont .shield {
	float: left;
	width: 47px;
	height: 46px;
	margin-top: 24px;
	background: url(../images/shield.png) no-repeat;
}

.ctrl_block .block .main_cont .shield.nobg span {
	float: left;
	width: 46px;
	height: 45px;
	background: url(../images/shield_blink.png) no-repeat;
}

.ctrl_block .block .main_cont .pl1 {
	background-color: #fcff00;
}

.ctrl_block .block .main_cont .pl2 {
	background-color: #f000ff;
}

.ctrl_block .block .main_cont .pl3 {
	background-color: #26299a;
}

.ctrl_block .block .main_cont .pl4 {
	background-color: #00e4ff;
}

.ctrl_block .block .main_cont .newtrl {
	background-color: #b68040;
}

.ctrl_block .block .main_cont .whos_turn {
	float: right;
	width: 138px;
	font-family: Times New Roman;
	font-size: 11px;
	margin-top: 23px;
	margin-bottom: 3px;
	color: #2f2f2f;
	padding-left: 5px;
	font-style: italic;
}

.ctrl_block .block .main_cont .whos_turn p {
	color: #a4a5a4;
	display: inline;
}

.ctrl_block .block .main_cont .acts {
	float: left;
	width: 185px;
	padding-left: 1px;
}

.ctrl_block .block .main_cont .acts .act {
	float: left;
	width: 179px;
	height: 27px;
	margin-top: 2px;
	color: #000;
	text-align: center;
	font-size: 14px;
	font-style: italic;
	line-height: 25px;
}

.ctrl_block .block .main_cont .acts .act_attack {
	background: url(../images/act_attack.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_shoot {
	background: url(../images/act_shoot.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_move {
	background: url(../images/act_move.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_wizard_heal {
	background: url(../images/act_heal.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_wizard_fireball {
	background: url(../images/act_fireball.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_esc {
	background: url(../images/act_esc.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_taran_bind {
	background: url(../images/act_attach.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_lightening_min {
	background: url(../images/act_easylight.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_lightening_max {
	background: url(../images/act_hardlight.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_upgrade_all {
	background: url(../images/act_plus1all.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_upgrade_random {
	background: url(../images/act_plus3.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_refl {
	background: url(../images/act_refl.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_necromancer_resurrect {
	background: url(../images/act_resur.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_necromancer_sacrifice {
	background: url(../images/act_sacrifice.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_turn {
	background: url(../images/act_turn.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_wall_open {
	background: url(../images/act_wall_open.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act_wall_close {
	background: url(../images/act_wall_close.png) top no-repeat;
}

.ctrl_block .block .main_cont .acts .act:hover {
	background-position: bottom;
}

.ctrl_block .block .main_cont .ctrl_bottom {
	float: right;
	width: 175px;
	font-family: Times New Roman;
	font-size: 11px;
	font-style: italic;
	color: #363636;
	margin-top: 5px;
	padding-right: 15px;
}

.ctrl_block .block .main_cont .whos_turn .anim {
	float: left;
	width: 110px;
	height: 18px;
	background: url(../images/anim.gif) left bottom no-repeat;
	margin: 4px 0px 0px 0px;
}

.ctrl_block .block .main_cont .whos_turn .noanim {
	float: left;
	width: 110px;
	height: 18px;
	background: url(../images/anim.gif) left top no-repeat;
	margin: 4px 0px 0px 0px;
}

.ctrl_block .block .main_cont .ctrl_bottom .board_coords {
	float: left;
	width: 60px;
}

.ctrl_block .block .hint {
	float: left;
	width: 148px;
	padding: 0px 30px 0px 47px;
	background: url(../images/ctrl_hint_rep.png) repeat-y;
	font-family: Arial;
	font-size: 11px;
	color: white;
}

.ctrl_block .block .hint_bottom {
	float: left;
	width: 225px;
	height: 14px;
	padding: 0px 0px 0px 0px;
	background: url(../images/ctrl_hint_bottom.png) no-repeat;
}


/*-----------------------главное меню игры-------------------------*/

#menulist {
	position: absolute;
	left: 737px;
	top: -20px;
	width: 230px;
	z-index: 2240;
	height: 14px;
	overflow: visible;
}

#menulist .menu {
	background: url(../images/btn_menu.png) top left no-repeat;
	float: left;
	width: 56px;
	height: 14px;
	position: relative;
}

#menulist .menu .label {
	font-style: italic;
	font-size: 13px;
	position: absolute;
	top: -1px;
	width: 54px;
	text-align: center;
}

#menulist .menu table {
	display: none;
	position: absolute;
	top: 14px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #dac190;
	border-top: none;
	background-color: #ab8e54;
}

#menulist li:hover table {
	display: block;
}

#menulist .menu table td {
	cursor: pointer;
	border: 1px solid #563e0d;
	background: none;
	padding: 2px 10px 2px 5px;
	font-family: Tmes New Roman;
	font-size: 13px;
	font-style: italic;
	line-height: 13px;
	vertical-align: top;
}

#menulist .menu table td a {
	font-family: Tmes New Roman;
	font-size: 13px;
	font-style: italic;
	color: black;
}

#menulist .menu table td a:hover {
	color: #7e5709;
}

#menulist .menu table td input {
	margin: 0px 2px 0px 0px;
}

.cursor_move {
	cursor: url(../images/cursor_move.cur), move !important;
}

.cursor_attack {
	cursor: url(../images/cursor_attack.cur), crosshair !important;
}

#cancel_action {
	position: absolute;
	height: 10000px;
	width: 10000px;
	text-align: center;
	color: white;
	width: 100%;
	height: 100%;
}

.error_window {
	position: absolute;
	z-index: 20000;
	background: url(../images/bg_error.png);
	color: white;
	top: 35px;
	left: 10px;
	padding: 10px;
	border: 3px solid black;
	width: 520px;
	color: black;
}

.error_window b {
	color: white;
}

.error_window a {
	color: black;
	text-decoration: underline;
}

.error_window a:hover {
	text-decoration: none;
}

.levelup_choose {
	z-index: 2152;
	width: 25px;
	height: 60px;
	background-color: black;
	position: absolute;
	top: 100px;
	left: 500px;
	border: 1px solid #e8dd52;
}

.levelup_choose a {
	display: block;
	width: 25px;
	height: 20px;
}

.levelup_choose .lvl_attack {
	background: url(../images/pic_attk.gif) 30% 50% no-repeat;
}

.levelup_choose .lvl_moves {
	background: url(../images/pic_move.gif) 30% 50% no-repeat;
}

.levelup_choose .lvl_health {
	background: url(../images/pic_health.gif) 30% 50% no-repeat;
}

.levelup_choose a:hover {
	background-position: 66% 50%;
}