.windowcont .window table .midrep .content a,.windowcont .window table .midrep .content a:active{
	color:#ebd48f;
}
.windowcont .window table .midrep .content a:hover{
	text-decoration:underline;
}
#statistics {
	position:absolute;
	border:3px solid black;
	margin-left:200px;
	margin-top:100px;
	background-color:white;
	padding:50px;
}

.tabs_title {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 24px;
}

.tabs_title li {
	float: left;
	background-color: #693e0a;
	padding: 2px 8px 2px 8px;
	margin-right: 2px;
	cursor: pointer;
	color: black;
	font-family: "Trebuchet MS";
	font-size: 12px;
	height: 24px;
	line-height: 24px;
}

.tabs_title a {
	text-decoration:none;
	color: #fff;
}

.tabs_title li.over {
	text-decoration:underline;
}

.tabs_title li.active {
	background-color: #ebd48f;
}

.tabs_panelwrap {
	overflow: hidden;
	width:630px;
	height:410px;
}

.tabs_panel {
	/*position:absolute;
	top:28px;*/
	width:620px;
	height:400px;
	display:none;
	overflow: auto;
	border:3px solid black;
	color: #fff;
	clear: both;
}

.tabs_panel.active {
	display: block;
}

.tabs_panel p {
	margin-left:5px;
}
.tabs_panel div {
	float: left;
}