.hintTip {
	padding: 1px;
	z-index: 2271;
	background: url(../images/tip_opacity_bg.png) top left repeat !important;
}

.hintTip .tip {
	background: none !important;
	color: white;
	font-size: 11px;
	font-family: Arial;
	border: 1px solid #e8dd52;
	padding: 4px 1px 1px 1px;
}

.hintTip .tip .tip-title {
	width: 100%;
	font-family: Times New Roman;
	color: #ffee91;
	font-size: 12px;
	float: left;
}

.hintTip .tip .tip-title table {
	width: 100%;
}

.hintTip .tip .tip-title .con_img {
	float: left;
	border: 1px solid #e8dd52;
	margin-left: 4px;
}

.hintTip .tip .tip-title .con_img span {
	padding: 7px;
	float: left;
	background: url(../images/grass.png) top left no-repeat !important;
	border: 1px solid #6a461c;
}

.hintTip .tip .tip-text {
	width: 100%;
	padding: 2px 2px 0px 2px;
	float: left;
	color: white;
	text-align: center;
}

.hintTip .tip .tip-text .pl1 {
	float: left;
	width: 97%;
	margin: 3px 0px 3px 0px;
	height: 3px;
	background-color: #fcff00;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.hintTip .tip .tip-text .pl2 {
	float: left;
	width: 97%;
	margin: 3px 0px 3px 0px;
	height: 3px;
	background-color: #f000ff;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.hintTip .tip .tip-text .pl3 {
	float: left;
	width: 97%;
	margin: 3px 0px 3px 0px;
	height: 3px;
	background-color: #5C5CCF;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.hintTip .tip .tip-text .pl4 {
	float: left;
	width: 97%;
	margin: 3px 0px 3px 0px;
	height: 3px;
	background-color: #00e4ff;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.hintTip .tip .tip-text .newtrl {
	float: left;
	width: 97%;
	margin: 3px 0px 3px 0px;
	height: 3px;
	background-color: #673000;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.hintTip .tip {
	float: left;
}

.hintTip .tip .tip-title ul {
	display: block;
	width: 90%;
	color: white;
	padding: 0px 0px 3px 0px;
}

.hintTip .tip .tip-title ul .level .lvl {
	display: block;
	position: absolute;
	padding: 1px;
	background-color: #ffee91;
	color: black;
	font-size: 8px;
	width: 9px;
	height: 9px;
	text-align: center;
}

.hintTip .tip .tip-title ul .level .full_exp {
	display: block;
	margin-left: 15px;
	width: 70px;
	height: 2px;
	background-color: #F80000;
}

.hintTip .tip .tip-title ul .level .cur_exp {
	display: block;
	height: 2px;
	background-color: #33FF33;
}

.hintTip .tip .tip-title ul .name {
	color: #ffee91;
	padding: 0px 0px 3px 4px;
}

.hintTip .tip .tip-title ul .attk {
	background: url(../images/pic_attk.gif) bottom left no-repeat !important;
	padding: 0px 0px 0px 15px;
	margin-left: 30%;
}

.hintTip .tip .tip-title ul .health {
	background: url(../images/pic_health.gif) bottom left no-repeat !important;
	padding: 0px 0px 0px 15px;
	margin-left: 30%;
}

.hintTip .tip .tip-title ul .move {
	background: url(../images/pic_move.gif) bottom left no-repeat !important;
	padding: 0px 0px 0px 15px;
	margin-left: 30%;
}

.hintTip .tip .tip-title ul .income {
	background: url(../images/pic_gold.png) bottom left no-repeat !important;
	padding: 0px 0px 0px 15px;
	margin-left: 30%;
}

.hintTip .tip .tip-title ul .shield {
	background: url(../images/pic_shield.png) bottom left no-repeat !important;
	padding: 0px 0px 0px 15px;
	margin-left: 30%;
}

.hintTip .tip .tip-title ul .radius {
	background: url(../images/pic_radius.png) bottom left no-repeat !important;
	padding: 0px 0px 0px 15px;
	margin-left: 30%;
}