.windowcont {
	position: absolute;
	background: url(../images/tip_opacity_bg.png) top left repeat;
	height: 100%;
	width: 100%;
	z-index: 2250;
}

.windowcont .window {
	position: absolute;
	top: 200px;
	left: 400px;
	z-index: 2270;
}

.windowcont .window table {
	width: 100%;
	border-width: 0px;
}

.windowcont .window table .topleft {
	width: 31px;
	height: 36px;
	background: url(../images/window_t_l.png) top left no-repeat;
}

.windowcont .window table .toprep {
	height: 36px;
	padding-left: 10px;
	background: url(../images/window_t_r.png) top left repeat-x;
	font-family: Monotype Corsiva;
	font-size: 17px;
	font-weight: normal;
	color: #151515;
}

.windowcont .window table .topright {
	width: 34px;
	height: 36px;
	padding-right: 8px;
	background: url(../images/window_r_t.png) top left no-repeat;
}

.windowcont .window table .topright .window_close {
	float: right;
	width: 19px;
	height: 19px;
	background: url(../images/window_close.png) top left no-repeat;
}

.windowcont .window table .leftrep {
	width: 7px;
	background: url(../images/window_l_r.png) top left repeat-y;
}

.windowcont .window table .midrep {
	background: url(../images/tip_opacity_bg.png) top left repeat;
}

.windowcont .window table .rightrep {
	width: 7px;
	background: url(../images/window_r_r.png) top left repeat-y;
}

.windowcont .window table .leftbottom {
	width: 16px;
	height: 14px;
	background: url(../images/window_l_b.png) top left no-repeat;
}

.windowcont .window table .bottomrep {
	height: 14px;
	background: url(../images/window_b_r.png) top left repeat-x;
}

.windowcont .window table .rightbottom {
	width: 16px;
	height: 14px;
	background: url(../images/window_r_b.png) top left no-repeat;
}

.windowcont .window table .midrep .content {
	width: 400px;
	height: 300px;
	float: left;
	padding: 10px;
	color: white;
	overflow-y: scroll;
	background: url(../images/mid_circle.png) center no-repeat;
}

.windowcont .window table .midrep .content .pl0 {
	color: #fcff00;
}

.windowcont .window table .midrep .content .pl1 {
	color: #f000ff;
}

.windowcont .window table .midrep .content .pl2 {
	color: #26299a;
}

.windowcont .window table .midrep .content .pl3 {
	color: #00e4ff;
}