.portal-input {
  display: flex;
  width: 230px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 20px;
  label {
    flex: 1;
    margin-right: 10px;
    margin-top: auto;
  }
  input {
    flex: 2;
    background: center 12px url('assets/input_line.png') no-repeat;
    font-size: 16px;
    margin-top: auto;
    width: 160px;
    text-align: center;
    border: none;
    outline: none;
  }
}