@import "font";
@import "./portal/links";
@import "./portal/inputs";
@import "./portal/errors";

@import "./arena/windows";
@import "./arena/inputs";
@import "./arena/buttons";

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  @include lato-font('black');
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}