RewriteEngine on
RewriteRule  ^$ /site/index.php
RewriteRule  ^game/mode9$ /game/mode9/game.php
RewriteRule  ^game/mode9/$ /game/mode9/game.php

ExpiresActive On
ExpiresByType image/png "access plus 1 days"