RewriteEngine on
#RewriteRule  ^$ /lords/site/index.php
RewriteRule  ^$ /site/index.php
#RewriteRule  ^game/mode9$ /lords/game/mode9/game.php
#RewriteRule  ^game/mode9/$ /lords/game/mode9/game.php
RewriteRule  ^game/mode9$ /game/mode9/game.php
RewriteRule  ^game/mode9/$ /game/mode9/game.php